//silverformedia.usw-23.palantirfoundry.com/artifacts/api/:_authToken=${FOUNDRY_TOKEN}
@invitation-homes-asset-management:registry=https://silverformedia.usw-23.palantirfoundry.com/artifacts/api/repositories/ri.artifacts.main.repository.b2f6749e-2d27-484c-bb54-7c0fd532a9b4/contents/release/npm/
